<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="100k.uz 100.k 100k k.uz 100-k.uz  - bu eng innavatsion goyalarni o'z ichiga olgan internet do'kon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT DOC</title>

    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="../../static/css/custom.css"/>
    <link rel="stylesheet" th:href="@{/css/product.css}" href="product-order.html">
    <link rel="stylesheet" th:href="@{/css/product-all.css}" href="product-order.html">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css">

</head>
<body>


    <div class="container">
        <h1>PRODUCT DOCUMENTATION FOR SELLER</h1>
        <br>
        <div>
            <img th:src="@{/attaches/2023/10/adding.jpg}"  src="../../../../../attaches/2023/10/adding.jpg" alt="Image" />
            <h3>this image for creating product</h3>
        </div>
        <br>
        <br>
        <div>
            <img th:src="@{/attaches/2023/10/edit.jpg}" src="../../../../../attaches/2023/10/edit.jpg"  alt="Image" />
            <h3>this image for editing product</h3>
        </div>
        <br>
        <br>
        <br>
        <br>

        <div>
            <img th:src="@{/attaches/2023/10/delete.jpg}" src="../../../../../attaches/2023/10/delete.jpg"  alt="Image" />
            <h3>this image for deleting product</h3>
        </div>

    </div>
</body>
</html>