<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/product.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <!---------------------------------------------------------------------->
    <!----------------------------HEADER SECTION---------------------------->
    <!---------------------------------------------------------------------->    
    <header class="header">

        <div class="container headerContent">

            <div class="headerItem">
                <a class="menu" th:href="@{/home}">
                    <img class="headerImg" src="./src/100k.png" alt="100k.png">
                </a>
            </div>

            <div class="headerItem">
               <form action="#" class="headerForm">
                <div class="headerFormItem" style="width: 100%;">
                    <div class="headerFormItem">
                        <input type="search" placeholder="search ...">
                    </div>
                    <div class="headerFormItem">
                    <button type="submit" class="headerBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </form>
            </div>

            <div class="headerItem mine" style="position: relative;;">
               <a href="#!" class="headerLink"><i class="fa-solid fa-user"></i> Mening kabinetim</a>
            </div>
        </div>
</header>



 <!---------------------------------------------------------------------->
<!--------------------------PRODUCT SECTION------------------------------>
 <!----------------------------------------------------------------------> 

    
        <div class="container">

            <div class="productTitle" th:object="${product}">

                <h1 th:text="${product.getName()}">MINI KALONKA</h1>

                <div class="title">
                    <p th:text="${product.getTitle()}"><b>Smart watch ochki tasbex</b></p>
                    <div class="price">
                        <strong th:text="${product.getPrice()}">189,000 so'm</strong>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
                
            </div>

            <main class="product">

            

            <div class="productContent">

                <div class="productItem">

                    <div class="productItem">
                        <img src="./src/product/1.png" alt="img.png">
                    </div>

                    <div class="productElement">
                        
                        <div class="productObject">

                            <div class="user">
                                <i class="fa fa-user"></i>
                            </div>

                            <div class="market">
                                <p><a href="#!">APPLE OPTOM</a></p>
                            <p>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </p>
                            </div>
                            
                            <div class="homeLink">
                                <a th:href="@{/home}">Do'konning sahifasi</a>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>

            <div class="secondProductContent">

                <h1>Buyurtma berish</h1>
                <br>
                <p>Mahsulot narxi <strong>48,000 <small>so'm</small></strong></p>

                <div class="productOrder">
                    <p>Yetqazib berish summasi manzilingizga ko'ra <strong>20000 so'mdan</strong> boshlanadi.</p>
                </div>

                <form action="php.php">

                    <input type="text" placeholder="Ismingiz">
                    <br>
                    <input type="tel" placeholder="+998 (XX) XXX-XX-XX" id="phone" pattern="\+998 \(\d{2}\) \d{3}-\d{2}-\d{2}" required>
                    <br>

                    <select required="" class="formControl" name="regionId">
                                	    <option value="" selected="selected">Hududni tanlang ⬇</option>
                                	    <option value="13">Toshkent shahri</option>
                                	    <option value="12">Andijon</option>
                                	    <option value="11">Buxoro</option>
                                	    <option value="1">Fargona</option>
                                	    <option value="10">Jizzax</option>
                                	    <option value="6">Namangan</option>
                                	    <option value="7">Navoiy</option>
                                	    <option value="8">Qashqadaryo</option>
                                	    <option value="9">Qoraqalpogiston</option>
                                	    <option value="5">Samarqand</option>
                                	    <option value="3">Sirdaryo</option>
                                	    <option value="4">Surxondaryo</option>
                                	    <option value="2">Toshkent viloyati</option>
                                	    <option value="14">Xorazm</option>
                                	</select>
                        <br>
                        <!-- <input type="submit" class="orderProduct"></input> -->
                </form>
                <button class="productOrderBtn">Buyurtma berish</button>
                
            </div>

            
            
    </main>
</div>








    <!---------------------------------------------------------------------->
    <!--------------------------FOOTER SECTION------------------------------>
    <!---------------------------------------------------------------------->        
    <footer class="footer">
        <div class="footerLinks">
            <a href="../privacy-policy.html" target="_blank">Maxfiylik siyosati</a>
            <a href="../privacy-policy.html" target="_blank">Foydalanish shartlari</a>
        </div>
        <p>Copyright © 2020 Barcha huquqlar himoyalangan</p>
    </footer>
</body>
</html>