.categoryItem:hover {
    cursor: pointer;
}


.categoryEditBtnEdit {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    color: #c2c23d;
    font-weight: 7000;
}

.categoryEditBtnDelete {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    color: #9a1515;
    font-weight: 7000;
}
