.privacyPolicy {
    margin-top: 50px;
}

.paging {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.page {
    padding: 50px;
    margin: 10px;
    margin-bottom: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

