<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="100k.uz 100.k 100k k.uz 100-k.uz  - bu eng innavatsion goyalarni o'z ichiga olgan internet do'kon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100k.uz</title>
    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:rel="stylesheet" th:href="@{/css/custom.css}"/>
    <link rel="stylesheet" th:href="@{/css/categories.css}">
    <link rel="stylesheet" th:href="@{/css/contact.css}">

    <title>Products by Categories</title>
    <style>
        .active, .btn:hover {
            background-color: #eee;
                }
    </style>
</head>
<body>
       <!---------------------------------------------------------------------->
    <!----------------------------TOP SECTION---------------------------->
    <!---------------------------------------------------------------------->
    <div class="top" id="top">
        <!--TOP-->

        <div class="container">
            
                <div class="topContent">
                    <div class="topItem">
                        <a href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="topLink" target="_blank"><i class="fa-brands fa-android fa-bounce"></i> Google Play</a>
                        <a href="https://apps.apple.com/pl/app/100k-uz/id1529911106" class="topLink" tabindex="_blank"><i class="fa-brands fa-apple fa-flip"></i> App store</a>
                    </div>

                    <div class="topContent dropdown">
                            <button class="dropbtn"><i class="fa fa-globe mr-1"></i>  Mening profilim</button>
                            <div class="dropdown-content">
                            <a href="../100KProduction/src/main/resources/html/about-us.html">Biz haqimizda</a>
                            <a href="../profile.html">Admin menu</a><!--TODO JAVOHIR AKA-->
                            <a href="../profile.html">Profil</a><!--TODO JAVOHIR AKA-->
                            <a href="../profile.html">Sozlamalar</a><!--TODO JAVOHIR AKA-->
                            </div>
                    </div>
                </div>
            </div>
    </div>

<!---------------------------------------------------------------------->
<!----------------------------HEADER SECTION---------------------------->
<!---------------------------------------------------------------------->    
    <header class="header">

            <div class="container headerContent">

                <div class="headerItem">
                    <a class="menu" th:href="@{/home}">
                        <img class="headerImg" src="./src/100k.png" alt="100k.png">
                    </a>
                </div>

                <div class="headerItem" >
                   <form action="#" class="headerForm">
                    <div class="headerFormItem" style="width: 100%;">
                        <div class="headerFormItem">
                            <input type="search" placeholder="search ...">
                        </div>
                        <div class="headerFormItem">
                        <button type="submit" class="headerBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
                </div>

                <div class="headerItem">
                   <a href="#" class="headerLink"><i class="fa-solid fa-user"></i> Mening kabinetim</a>
                </div>
            </div>
    </header>




 <!---------------------------------------------------------------------->
<!--------------------------CATEGORIES SECTION------------------------------>
 <!----------------------------------------------------------------------> 

 <!-- <script>
    var header = document.getElementById("mainTabItem");
    var btns = header.getElementsByClassName("mainTabElement");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
    </script> -->

    <main class="categories">

        <div class="container">

            <div class="mainTab" id="mainTab">
                <div class="mainTabItem" th:each="category: ${categoryList}">
                    <a th:href="@{/api/v1/product/get-all-by-category-id/{id}(id=${category.id})}" th:text="${category.name}" class="mainTabElement"></a>
                </div>


            </div>

            <div class="categoryContainer">

                <div class="categoryItem" th:each="product: ${productList}">
                    <a th:href="@{/api/v1/product/order/{id}(id = ${product.id})}">
                    <img th:src="${product.url}" alt="img.png" class="categoryImg">

                        <div class="categoryItemPrice">
                            <p th:text="${product.price}">xx,xxx so'm</p>
                        </div>
                    </a>

                </div>

            
            </div>
        </div>
    </main>






    <!---------------------------------------------------------------------->
    <!--------------------------FOOTER SECTION------------------------------>
    <!---------------------------------------------------------------------->        
    <footer class="footer">
        <div class="container">
            <ul class="footerContent">
                <li class="footerLink"><a href="../profile.html">Mening kabinetim</a></li>
                <li class="footerLink"><a href="../100KProduction/src/main/resources/html/about-us.html" target="_blank">Biz haqimizda</a></li>
                <li class="footerLink"><a href="../contact.html">Aloqa uchun</a></li>
                <li class="footerLink"><a href="../privacy-policy.html" target="_blank">Ommaviy offerta</a></li>
            </ul>
            <ul class="footerContent">
                <li class="footerLink"><a href="#top">2016-2021 - 100K.UZ</a></li>
                <li class="footerLink"><a href="../privacy-policy.html" target="_blank">&copy Barcha huquqlar himoyalangan</a></li>
            </ul>
        </div>
    </footer>

    
</body>
</html>