<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/categories.css">
    <link rel="stylesheet" href="./css/contact.css">

    <style>
        .active, .btn:hover {
            background-color: #eee;
                }
    </style>
</head>
<body>
       <!---------------------------------------------------------------------->
    <!----------------------------TOP SECTION---------------------------->
    <!---------------------------------------------------------------------->
    <div class="top" id="top">
        <!--TOP-->

        <div class="container">
            
                <div class="topContent">
                    <div class="topItem">
                        <a href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="topLink" target="_blank"><i class="fa-brands fa-android fa-bounce"></i> Google Play</a>
                        <a href="https://apps.apple.com/pl/app/100k-uz/id1529911106" class="topLink" tabindex="_blank"><i class="fa-brands fa-apple fa-flip"></i> App store</a>
                    </div>

                    <div class="topContent dropdown">
                            <button class="dropbtn"><i class="fa fa-globe mr-1"></i>  Mening profilim</button>
                            <div class="dropdown-content">
                            <a href="../100KProduction/src/main/resources/html/about-us.html">Biz haqimizda</a>
                            <a href="../profile.html">Admin menu</a>
                            <a href="../profile.html">Profil</a>
                            <a href="../profile.html">Sozlamalar</a>
                            </div>
                    </div>
                </div>
            </div>
    </div>

<!---------------------------------------------------------------------->
<!----------------------------HEADER SECTION---------------------------->
<!---------------------------------------------------------------------->    
    <header class="header">

            <div class="container headerContent">

                <div class="headerItem">
                    <a class="menu" href="../100KProduction/src/main/resources/html/index.html">
                        <img class="headerImg" src="./src/100k.png" alt="100k.png">
                    </a>
                </div>

                <div class="headerItem" >
                   <form action="#" class="headerForm">
                    <div class="headerFormItem" style="width: 100%;">
                        <div class="headerFormItem">
                            <input type="search" placeholder="search ...">
                        </div>
                        <div class="headerFormItem">
                        <button type="submit" class="headerBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                    </div>
                </form>
                </div>

                <div class="headerItem">
                   <a href="#" class="headerLink"><i class="fa-solid fa-user"></i> Mening kabinetim</a>
                </div>
            </div>
    </header>




 <!---------------------------------------------------------------------->
<!--------------------------CATEGORIES SECTION------------------------------>
 <!----------------------------------------------------------------------> 

 <!-- <script>
    var header = document.getElementById("mainTabItem");
    var btns = header.getElementsByClassName("mainTabElement");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("active");
      current[0].className = current[0].className.replace(" active", "");
      this.className += " active";
      });
    }
    </script> -->

    <main class="categories">

        <div class="container">

            <div class="mainTab" id="mainTab">
                <!-- <div class="bgImg"></div> TODO-->
                <div class="mainTabItem">
                    <a href="#barchasi" class="mainTabElement">Barchasi</a>
                </div>

                <div class="mainTabItem">
                    <a href="#aksessuar" class="mainTabElement">Aksessuarlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#vitaminlar" class="mainTabElement">Vitaminlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#kremlar" class="mainTabElement">Kremlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#ortopedikBuyumlar" class="mainTabElement">Ortopedik buyumlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#elektronika" class="mainTabElement">Elektronika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#quloqchinlar" class="mainTabElement">Quloqchinlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#aqilliSoatlar" class="mainTabElement">Aqilli soatlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#barchasi" class="mainTabElement">Barchasi</a>
                </div>

                <div class="mainTabItem">
                    <a href="#navigatorlar" class="mainTabElement">Navigatorlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#audioTexnika" class="mainTabElement">Audio Texnika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#tashqiAkkumulyator" class="mainTabElement">Tashqi akkumulyator</a>
                </div>

                <div class="mainTabItem">
                    <a href="#telefonlar" class="mainTabElement">Telefonlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#smartfonlar" class="mainTabElement">Smartfonlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#telefonAksessuarlari" class="mainTabElement">Telefon aksessuarlari</a>
                </div>

                <div class="mainTabItem">
                    <a href="#knopkaliTelefonlar" class="mainTabElement">Knopkali Telefon</a>
                </div>

                <div class="mainTabItem">
                    <a href="#maishiyTexnika" class="mainTabElement">Maishiy texnika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#oshxonaBuyumlari" class="mainTabElement">Oshxona buyumlari</a>
                </div>

                <div class="mainTabItem">
                    <a href="video" class="mainTabElement">Video registratorlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#uyUchun" class="mainTabElement">Uy uchun texnika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#iqlim" class="mainTabElement">Iqlim texnikasi</a>
                </div>

                <div class="mainTabItem">
                    <a href="#aksessuar" class="mainTabElement">Aksessuarlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#mashinka" class="mainTabElement">Mashinkalar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#sport" class="mainTabElement">Sport kiyimlari</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Oyoq kiyimlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Aksessuarlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Chaqaloqlar uchun kiyimlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">texnika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Maxsus kiyimlar</a>
                </div>


                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Yuz parvarishi</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Makyaj</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Soch parvarishi</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">texnika</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Aksessuarlar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Ko'zoynaklar</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">Go'zallik</a>
                </div>

                <div class="mainTabItem">
                    <a href="#" class="mainTabElement">texnika</a>
                </div>
            </div>

            <div class="categoryContainer">

                <div class="categoryItem" id="#barchasi">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/1.png" alt="img.png" class="categoryImg">
                        
                        <div class="categoryItemPrice">
                            <p>18,900 so'm</p>
                    </div>
                    </a>
                    
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/2.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/3.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/4.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/5.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/6.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/7.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/8.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/9.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="aksessuar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/10.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/11.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/12.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/13.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/14.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/15.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/16.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/17.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/18.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/19.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="vitaminlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/20.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>



                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/21.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/22.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/23.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/24.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/25.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/26.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/27.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/28.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/29.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="kremlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/30.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem"  id="ortopedikBuyumlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/31.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/32.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/33.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/34.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/35.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/36.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>


                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/37.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/38.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/39.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/40.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="elektronika">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/41.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="elektronika">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/42.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="elektronika">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/43.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="elektronika">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/44.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="elektronika">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/45.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>



                <div class="categoryItem" id="quloqchinlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/46.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="quloqchinlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/47.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="quloqchinlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/48.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="quloqchinlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/49.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="quloqchinlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/50.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>



                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/51.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/52.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/53.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/54.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/55.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/56.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/56.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/57.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/58.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/59.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem" id="aqilliSoatlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/60.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>




                <div class="categoryItem" id="telefonlar">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/61.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/62.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/63.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/64.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/65.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/66.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/67.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/68.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/69.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/70.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>




                <div class="categoryItem" id="mashinka">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/71.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/72.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/73.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/74.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/75.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/76.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/77.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/78.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/79.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

                <div class="categoryItem">
                    <a href="../product/product-order.html">
                        <img src="./src/categories/80.png" alt="img.png" class="categoryImg">
                    <div class="categoryItemPrice">
                        <p>18,900 so'm</p>
                    </div>
                    </a>
                </div>

            
            </div>
        </div>
    </main>






    <!---------------------------------------------------------------------->
    <!--------------------------FOOTER SECTION------------------------------>
    <!---------------------------------------------------------------------->        
    <footer class="footer">
        <div class="container">
            <ul class="footerContent">
                <li class="footerLink"><a href="../profile.html">Mening kabinetim</a></li>
                <li class="footerLink"><a href="../100KProduction/src/main/resources/html/about-us.html" target="_blank">Biz haqimizda</a></li>
                <li class="footerLink"><a href="../contact.html">Aloqa uchun</a></li>
                <li class="footerLink"><a href="../privacy-policy.html" target="_blank">Ommaviy offerta</a></li>
            </ul>
            <ul class="footerContent">
                <li class="footerLink"><a href="#top">2016-2021 - 100K.UZ</a></li>
                <li class="footerLink"><a href="../privacy-policy.html" target="_blank">&copy Barcha huquqlar himoyalangan</a></li>
            </ul>
        </div>
    </footer>

    
</body>
</html>