<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aloqa uchun</title>
    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./css/custom.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/contact.css">
</head>
<body>
       <!---------------------------------------------------------------------->
    <!----------------------------TOP SECTION---------------------------->
    <!---------------------------------------------------------------------->
    <div class="top ">
        <!--TOP-->

        <div class="container">
            
                <div class="topContent">
                    <div class="topItem">
                        <a href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="topLink" target="_blank"><i class="fa-brands fa-android fa-bounce"></i> Google Play</a>
                        <a href="https://apps.apple.com/pl/app/100k-uz/id1529911106" class="topLink" tabindex="_blank"><i class="fa-brands fa-apple fa-flip"></i> App store</a>
                    </div>

                    <div class="topContent dropdown">
                            <button class="dropbtn"><i class="fa fa-globe mr-1"></i>  Mening profilim</button>
                            <div class="dropdown-content">
                            <a href="../100KProduction/src/main/resources/html/index.html">Bosh menu</a>
                            <a href="profile.html">Admin menu</a>
                            <a href="profile.html">Profil</a>
                            <a href="profile.html">Sozlamalar</a>
                            </div>
                    </div>
                </div>
            </div>
    </div>

<!---------------------------------------------------------------------->
<!----------------------------HEADER SECTION---------------------------->
<!---------------------------------------------------------------------->    
    <header class="header">

            <div class="container headerContent" style="margin-top: 50px; display: block;">

                <div class="headerItem">
                    <h1> Biz haqimizda </h1>
                </div>
                <br>
                <div class="headerItem"  ">
                    <p style="font-size: 19px"> Ushbu sahifada texnik ishlar olib borilmoqda !!!</p>
                    <a href="../100KProduction/src/main/resources/html/index.html" style="color: #fc3;">Bosh sahifa</a>
                </div>

            </div>
    </header>




 <!---------------------------------------------------------------------->
<!--------------------------CONTACT SECTION------------------------------>
 <!----------------------------------------------------------------------> 

    <main class="contact">
        <div class="container">
            <div class="contactContent">
                <div class="contactItem">
                    <h3>Murojat uchun</h3>
                    <br>
                    <p>
                        <b>Call-center:</b>
                        +998 55 500 55-11
                    </p>
                    <p>
                        <b>Elektron pochta:</b>
                        info@100k.uz
                    </p>
                    <p>
                        <b>Telegram:</b>
                        <a href="https://t.me/yuzka_support" style="color: red;">@yuzka_support</a>
                    </p>
                </div>
            </div>
        </div>
    </main>








    <!---------------------------------------------------------------------->
    <!--------------------------FOOTER SECTION------------------------------>
    <!---------------------------------------------------------------------->        
    <footer class="footer">
        <div class="container">
            <ul class="footerContent">
                <li class="footerLink"><a href="profile.html">Mening kabinetim</a></li>
                <li class="footerLink"><a href="./about-us.html">Biz haqimizda</a></li>
                <li class="footerLink"><a href="contact.html">Aloqa uchun</a></li>
                <li class="footerLink"><a href="privacy-policy.html">Ommaviy offerta</a></li>
            </ul>
            <ul class="footerContent">
                <li class="footerLink"><a href="#">2016-2021 - 100K.UZ</a></li>
                <li class="footerLink"><a href="#">&copy Barcha huquqlar himoyalangan</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>