<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard-style.css">
</head>
<body>
<div class="container">
    <h1>Main Dashboard</h1>
    <h1>USER INFO</h1>
    <h3>100k.uz Adminlar uchun qo'llanma.</h3>

    <a href="#!">100.uzNovember 15, 2020</a>
    <p>Avvalom bor 100k.uz proektiga bo'lgan qiziqishingiz uchun katta rahmat. Ushbu sahifada siz 100k.uz saytining adminlar uchun bo'limi bilan tanishishingiz mumkin, quyida biz ushbu bo'limni qisqacha ADMIN-PANEL deb ataymiz</p>
    <p>Admin bo'limi quyidagi kornishiga ega. Admin-panel ga o'tish uchun siz 100k.uz saytidan ro'yhatdan o'tgan bolishingiz kerak. Agar sizda 100k.uz saytida profil bo'lsa https://100k.uz/admin linki orqali admin-panel ga o'ting.</p>
    <img src="dashboard" alt="">
</div>
</body>
</html>
