<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="100k.uz 100.k 100k k.uz 100-k.uz  - bu eng innavatsion goyalarni o'z ichiga olgan internet do'kon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100k.uz</title>
    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link th:rel="stylesheet" th:href="@{css/custom.css}"/>
    <link th:rel="stylesheet" th:href="@{css/index.css}"/>

</head>
<body>
   
    <!---------------------------------------------------------------------->
    <!----------------------------TOP SECTION---------------------------->
    <!---------------------------------------------------------------------->
        <div class="top" id="top">
            <!--TOP-->

            <div class="container">
                
                    <div class="topContent">
                        <div class="topItem">
                            <a href="https://play.google.com/store/apps/details?id=uz.itmaker.stock" class="topLink" target="_blank"><i class="fa-brands fa-android fa-bounce"></i> Google Play</a>
                            <a href="https://apps.apple.com/pl/app/100k-uz/id1529911106" class="topLink" tabindex="_blank"><i class="fa-brands fa-apple fa-flip"></i> App store</a>
                        </div>

                        <div class="topContent dropdown">
                                <button class="dropbtn"><i class="fa fa-globe mr-1"></i>  Mening profilim</button>
                                <div class="dropdown-content">
                                <a href="contact.html">Aloqa uchun</a>
                                <a href="profile.html">Profil</a>
                                <a href="profile.html">Admin menu</a>
                                <a href="profile.html">Sozlamalar</a>
                                </div>
                        </div>
                    </div>
                </div>
        </div>

<!---------------------------------------------------------------------->
    <!----------------------------HEADER SECTION---------------------------->
    <!---------------------------------------------------------------------->    
        <header class="header">

                <div class="container headerContent">

                    <div class="headerItem">
                        <a class="menu" href="./index.html">
                            <img class="headerImg" th:src="@{src/100k.png}" alt="100k.png">
                        </a>
                    </div>
    
                    <div class="headerItem headerSearch">
                       <form action="#" class="headerForm" >
                        <div class="headerFormContent" style="width: 100%;">
                            <!-- <div class="headerFormItem"> -->
                                <input type="search" placeholder="search ...">
                            <!-- </div> -->
                        <div class="headerFormItem">
                            <button type="submit" class="headerBtn"><i class="fa-solid fa-magnifying-glass"></i></button></div>
                        </div>
                        </form>
                    </div>
    
                    <div class="headerItem mine"   style="position: relative;">
                       <a th:href="@{/auth/login}" class="headerLink login" th:if="${auth_success} != true" ><i class="fa-solid fa-sign-in"></i> Kirish </a>
                       <a th:href="@{/admin}" class="headerLink my-profile" th:if="${auth_success} == true"><i class="fa-solid fa-user"></i> Mening profilim </a>
                    </div>
                </div>
     </header>
        
 
    <!---------------------------------------------------------------------->
    <!----------------------------CATEGORIES SECTION---------------------------->
    <!---------------------------------------------------------------------->
        <div class="categories">
                <div class="container categoryContent">

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img th:src="@{src/1.png}" alt="1.png">
                            <span>Elektronika<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img th:src="@{src/2.png}" alt="2.png">
                            <span>Telefonlar<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img th:src="@{src/3.png}" alt="3.png">
                            <span>Maishiy Texnika<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/4.png" alt="4.png">
                            <span>Go'zallik<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/5.png" alt="5.png">
                            <span>Kompyuter Texnikasi<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/6.png" alt="6.png">
                            <span>Salomatlik<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/7.png" alt="7.png">
                            <span>Avtoto'lovlar<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/8.png" alt="8.png">
                            <span>Bolajonlar uchun<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/9.png" alt="9.png">
                            <span>Kitoblar<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/10.png" alt="10.png">
                            <span>Sovg'alar<small>(20)</small></span>
                        </a>
                    </div>

                    <div class="categoryItem">
                        <a href="category/categories.html">
                            <img src="./src/10.png" alt="10.png">
                            <span>Sovg'alar<small>(20)</small></span>
                        </a>
                    </div>

                </div>
        </div>


    <!---------------------------------------------------------------------->
    <!--------------------------------PRODUCT SECTION----------------------->
    <!---------------------------------------------------------------------->

        <div class="product">

            <div class="container">
                <!--PRODUCT CONTAINER--1-->
                <div class="productHeader">
                   <div class="productHeaderItem"> <h1>Yangi kelgan mahsulotlar</h1></div>
                    <div class="productHeaderItem"><a href="category/categories.html">Barchasini ko'rish</a></div>
                </div>

                <div class="productContent">

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/11.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">

                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/18.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">

                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/12.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/13.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/14.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/15.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/16.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/17.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/18.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                </div>





                <!--PRODUCT CONTAINER--2-->
                <div class="productHeader">
                    <div class="productHeaderItem"> <h1>Ommabop mahsulotlar</h1></div>
                     <div class="productHeaderItem"><a href="category/categories.html">Barchasini ko'rish</a></div>
                 </div>

                <div class="productContent">

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/19.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/20.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/21.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/22.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/23.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/24.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/25.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/26.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                    <div class="productItem">
                        <div class="productImg">
                            <img src="./src/26.png" alt="bu yerda rasm bor!">
                        </div>
                        <div class="productInfo">
                            <p>Avtomabil uchun Magnit holder</p>
                        </div>
                        <div class="productPrice">
                            <strong >18,000 <small>so'm</small></strong>
                        </div>
                        <div class="productOrder">
                            <span>Buyurtmalar soni: <small>423</small>ta</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    <!---------------------------------------------------------------------->
    <!--------------------------DISADVANTAGES SECTION------------------------------>
    <!---------------------------------------------------------------------->
        <div class="disadvantage">

            <h1>100k.uz qulayliklari</h1>

            <div class="container">

                <div class="disadvantageContent">

                    <div class="disadvantageItem">
                        <div class="disadvantageFavicon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="disadvantageTitle">
                            <h3>Tezkor yetkazib berish xizmati</h3>
                        </div>
                        <div class="disadvantageInfo">
                            <p>Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib beriladi.</p>
                        </div>
                    </div>

                    <div class="disadvantageItem">
                        <div class="disadvantageFavicon">
                            <i class="fa-solid fa-headset"></i>
                        </div>
                        <div class="disadvantageTitle">
                            <h3>Tezkor yetkazib berish xizmati</h3>
                        </div>
                        <div class="disadvantageInfo">
                            <p>Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib beriladi.</p>
                        </div>
                    </div>

                    <div class="disadvantageItem">
                        <div class="disadvantageFavicon">
                            <i class="fa-solid fa-money-bill"></i>
                        </div>
                        <div class="disadvantageTitle">
                            <h3>Tezkor yetkazib berish xizmati</h3>
                        </div>
                        <div class="disadvantageInfo">
                            <p>Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib beriladi.</p>
                        </div>
                    </div>

                    
                    <div class="disadvantageItem">
                        <div class="disadvantageFavicon">
                            <i class="fa fa-gift"></i>
                        </div>
                        <div class="disadvantageTitle">
                            <h3>Tezkor yetkazib berish xizmati</h3>
                        </div>
                        <div class="disadvantageInfo">
                            <p>Buyurtmangiz O'zbekistonning barcha viloyatlariga 3 kun ichida yetqazib beriladi.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
<!---------------------------------------------------------------------->
    <!--------------------------FOOTER SECTION------------------------------>
    <!---------------------------------------------------------------------->        
    <footer class="footer">
        <div class="container">
            <ul class="footerContent">
                <li class="footerLink"><a href="profile.html">Mening kabinetim</a></li>
                <li class="footerLink"><a href="about-us.html" target="_blank">Biz haqimizda</a></li>
                <li class="footerLink"><a href="contact.html">Aloqa uchun</a></li>
                <li class="footerLink"><a href="privacy-policy.html" target="_blank">Ommaviy offerta</a></li>
            </ul>
            <ul class="footerContent">
                <li class="footerLink"><a href="#top">2016-2021 - 100K.UZ</a></li>
                <li class="footerLink"><a href="privacy-policy.html" target="_blank">&copy Barcha huquqlar himoyalangan</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>