<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>
    <!--    <link th:rel="shortcut icon" th:href="@{../src/logo192.png}" type="image/png">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link th:rel="stylesheet" th:href="@{/css/custom.css}">
    <link th:rel="stylesheet" th:href="@{/css/profile.css}">
    <link th:rel="stylesheet" th:href="@{/css/login.css}">
    <!--    <link rel="stylesheet" href="../static/css/login.css">-->
    <!--    <link rel="stylesheet" href="../static/css/index.css">-->
</head>
<body>
<!---------------------------------------------------------------------->
<!----------------------------HEADER SECTION---------------------------->
<!---------------------------------------------------------------------->
<header>
    <div class="header">

        <div class="headerContent">
            <a th:href="index.html"><p><i class="fa-solid fa-arrow-left"></i> Do'konga qaytish</p></a>
        </div>

        <div class="headerContent">
            <a th:href="index.html"><img src="./src/100k.png" alt="100k.uz"></a>
        </div>
    </div>
    <hr style="opacity: 40%;">
</header>


<!---------------------------------------------------------------------->
<!--------------------------FORM SECTION------------------------------>
<!---------------------------------------------------------------------->

<div class="form">
    <div class="container">

        <div class="formContent">

            <div class="formItem">

                <form th:if="${sendCode} == false " th:action="@{/auth/getCode} " method="post" th:object="${profile}">

                    <h1>Kirish</h1>

                    <div class="formElement">
                        <label for="username">Email
                            <br>
                            <input type="text" placeholder="Your email" id="username" name="username" required>
                        </label>
                    </div>
                    <button type="submit">Kodni oling</button>
                    <br>
                </form>

                <form th:if="${sendCode} == true "
                      th:action="@{/loginProcess}" method="post" >

                    <h1>Kirish</h1>

                    <div class="formElement">
                        <label for="username">Email
                            <br>
                            <input type="text" placeholder="Your email" id="username" name="username"
                                   th:field="${profile.username}" required>
                        </label>
                    </div>

                    <div class="formElement">
                        <div>
                            <label for="password">Kod
                                <br>
                                <input type="text" placeholder="Kod" id="password" name="password" required>
                                <br>
                                <span th:if="${isError} == true" style="color: red">Wrong code</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit">Kirish</button>
                    <br>
                </form>
            </div>


        </div>
    </div>
</div>


<!---------------------------------------------------------------------->
<!--------------------------FOOTER SECTION------------------------------>
<!---------------------------------------------------------------------->
<footer class="footer">
    <div class="footerLinks">
        <a href="privacy-policy.html" target="_blank">Maxfiylik siyosati</a>
        <a href="privacy-policy.html" target="_blank">Foydalanish shartlari</a>
    </div>
    <p>Copyright © 2020 Barcha huquqlar himoyalangan</p>
</footer>
</body>
</html>