<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="100k.uz 100.k 100k k.uz 100-k.uz  - bu eng innavatsion goyalarni o'z ichiga olgan internet do'kon.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT CRUD</title>

    <link rel="shortcut icon" href="./src/favicon.ico" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{css/custom.css}"/>
    <link rel="stylesheet" th:href="@{css/product.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">

    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/custom.css">


</head>
<body>
<h1>PRODUCTS</h1>
<!---------------------------------------------------------------------->
<!--------------------------------PRODUCT SECTION----------------------->
<!---------------------------------------------------------------------->

<div class="product">

    <div class="container">
        <!--PRODUCT CONTAINER--1-->
        <div class="productHeader">
            <div class="productHeaderItem"> <h1>Yangi kelgan mahsulotlar</h1></div>
            <div class="productHeaderItem"><a href="categories.html">Barchasini ko'rish</a></div>
        </div>

        <div class="productContent">

            <div class="productItem">
                <div class="productImg">
                    <img src="../static/src/11.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">

                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/18.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">

                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/12.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/13.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/14.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/15.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/16.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/17.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/18.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

        </div>





        <!--PRODUCT CONTAINER--2-->
        <div class="productHeader">
            <div class="productHeaderItem"> <h1>Ommabop mahsulotlar</h1></div>
            <div class="productHeaderItem"><a href="categories.html">Barchasini ko'rish</a></div>
        </div>

        <div class="productContent">

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/19.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">

                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/20.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/21.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/22.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/23.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/24.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/25.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/26.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

            <div class="productItem">
                <div class="productImg">
                    <img src="./src/26.png" alt="bu yerda rasm bor!">
                </div>
                <div class="productInfo">
                    <p>Avtomabil uchun Magnit holder</p>
                </div>
                <div class="productPrice">
                    <strong >18,000 <small>so'm</small></strong>
                </div>
                <div class="productOrder">
                    <span>Buyurtmalar soni: <small>423</small>ta</span>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>