<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="../static/css/users-for-admin.css">
    <link rel="stylesheet" th:href="@{css/users-for-admin.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="main-page">
        <div class="container">
            <div class="users-info">
                <ul>
                    <li>
                        <div class="information">
                            <div class="some-info">
                                <span>Ali</span>
                            </div>
                            <div class="some-info">
                                <span>Aliyev</span>
                            </div>
                            <div class="some-info">
                                <span>Seller</span>
                            </div>
                        </div>

                        <div class="buttons">
                            <button class="update"><i class="fa fa-pencil"></i></button>
                            <button class="delete"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </li>
                    <li>
                        <div class="information">
                            <div class="some-info">
                                <span>MuhammadAli</span>
                            </div>
                            <div class="some-info">
                                <span>Muhammadaliyev</span>
                            </div>
                            <div class="some-info">
                                <span>Seller</span>
                            </div>

                        </div>

                        <div class="buttons">
                            <button class="update"><i class="fa fa-pencil"></i></button>
                            <button class="delete"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </li>
                    <li>
                        <div class="information">
                            <div class="some-info">
                                <span>MuhammadAli</span>
                            </div>
                            <div class="some-info">
                                <span>Muhammadaliyev</span>
                            </div>
                            <div class="some-info">
                                <span>Seller</span>
                            </div>
                        </div>

                        <div class="buttons">
                            <button class="update"><i class="fa fa-pencil"></i></button>
                            <button class="delete"><i class="fa-solid fa-trash-can"></i></button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</body>
</html>